*{padding: 0px;margin: 0px;}
body{background-color: #95e9df;background-image: url(fondo.png);background-repeat: no-repeat;background-size: 3000px 700px;background-position: center;background-position-y: 710px;font-family: Consolas;}
header{padding: 20px;background-color: #34c6d1;text-align: center;color: #b6e4ab;font-size: 40px;size: 100%;}
p{margin-bottom: 20px;text-align: justify;}
h1{margin-bottom: 20px;}
ol{margin: 40px;margin-bottom: 20px;}
a{margin-bottom: 20px;color: #412c1a;}
video{margin-bottom: 20px;border-radius: 10px;width: 80%;}
form{display: flex;flex-direction: column;gap: 20px;}
label{font-weight: bold;color: #0c0401;}
input, select, textarea{padding: 10px;border-radius: 5px;border: 1px solid #412c1a;}
button{padding: 12px;border: none;border-radius: 10px;background-color: #34c6d1;color: white;font-weight: bold;cursor: pointer;}
button:hover{background-color: #268e97;}
.content{padding: 10px;padding-top: 100px;margin: 0px;margin-left: calc(50% - 300px);margin-right: calc(50% - 300px);}
.deep{background: linear-gradient(#412c1a, #0c0401);}
.card{padding: 20px;padding-left: 30px;padding-right: 30px;margin-bottom: 20px;border-radius: 10px;background-color: #835c3c;}
.card-sky{padding: 20px;padding-left: 30px;padding-right: 30px;margin-bottom: 20px;border-radius: 10px;background-color: #cffbf6;}